{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="col-6 mt-5">
            <h1>¡¡Bienvenidos a OnlyFlans!!🍮</h1>
        </div>
        <div class="col-6 mt-5">
            <p>
                En OnlyFlans, te invitamos a descubrir el arte ancestral de hacer flanes
                 perfeccionado a través de generaciones. Con ingredientes frescos y técnicas
                  tradicionales, cada bocado es una conexión con el pasado que celebra la 
                  tradición y transforma tus momentos, en dulces recuerdos. Únete a esta herencia 
                  gastronómica que endulza el corazón.✨
            </p>
        </div>
    </div>

{% endblock %}