.imagen-logo {
    width: 15rem;
    margin: 1rem 0;
}


.card {
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.15);
}

.card img {
    width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Mantiene el aspecto de la imagen y llena el espacio */
    object-position: center; /* Centra la imagen en el espacio asignado */
}

.card-body h5 {
    border-bottom: 2px solid #000; /* Añade un borde debajo del título */
    padding-bottom: 10px; /* Espacio entre el borde y el texto del título */
    margin-bottom: 15px; /* Espacio entre el borde y el siguiente contenido */
}

.card {
    margin-bottom: 20px; /* Espacio entre las filas de tarjetas */
}

.header-image {
    width: 100%; /* Ancho completo del navbar */
    height: 120px; /* Doble de la altura del navbar */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin deformarse */
}

.navbar-brand {
    display: flex; /* Usa Flexbox para centrar el contenido verticalmente si hay más elementos */
    align-items: center; /* Centra el contenido verticalmente */
}

.navbar-logo {
    height: 50px; /* Ajusta la altura del logo según sea necesario */
    width: auto; /* Mantiene la proporción de la imagen */
}

.logo-nav{
    width: 10rem;
}

/* .header {
    background-image: url('https://i.blogs.es/25df17/flan-de-huevo-tradicional/1366_2000.jpg');
    background-size: cover; /* La imagen cubrirá todo el ancho del header */
    background-position: center; /* Centra la imagen en el header */
    height: 300px; /* Ajusta el alto del header a 300px, puedes modificar este valor */
    display: flex;
    align-items: center;
    justify-content: center;
} */
